# Ignore temporary files for open Word documents
~$*.doc*
*.docx

# Ignore temporary files for open Excel spreadsheets
~$*.xls*

n4j/*

breach_reports/*

# Ignore private files
pipeline/*.csv
splitting_contacts/1_output/*.csv
splitting_contacts/2_output/*.csv
splitting_contacts/3_output/*.csv
splitting_contacts/hhs-data
neverbounce_data/
campaign_analysis/

# Ignore temporary files
splitting_contacts/temp.txt