# Ignore Python bytecode files
news-searcher/__pycache__/
# Ignore temporary files for open Word documents
~$*.doc*
*.docx

# Ignore temporary files for open Excel spreadsheets
~$*.xls*

n4j/*

breach_reports/*

# Ignore private files
pipeline/*.csv
splitting_contacts/1_output/*.csv
splitting_contacts/2_output/*.csv
splitting_contacts/3_output/*.csv
splitting_contacts/hhs-data
neverbounce_data/
campaign_analysis/

news-searcher/*.md
news-searcher/*.xlsx
news-searcher/*.txt

# Ignore temporary files
splitting_contacts/temp.txt

appendix/breach-monitoring-system-guide.md